<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar justify-content-end custom-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<h4 class="navbar-brand" >Beata Gabrysiak</h4>-->
      <!--<h3> Software Web Developer</h3>-->
<h1 class="navbar-brand" >Betmira</h1>
      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
        Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/cv">
        CV
      </button>
      <button class="btn btn-primary btn-margin"  routerLink="/contact">Contact</button>
    </div>
  </div>
</nav>

<main class="">
  <router-outlet></router-outlet>
</main>

<div class="jumbotron text-center footer" >
  <p>Footer</p>
</div>


