
<!--<h2>Hi  ;-) I'm Beata Gabrysiak</h2>-->
<!--<div>{{title}}</div>-->

<!--<div class="alert alert-primary" role="alert">-->
  <!--A simple primary alert—check it out! Git Test-->
<!--</div>-->
<div class="container" style="margin-top:30px">
  <div class="row align-items-center  ">
    <div class="col-md-4 align-self-center ">
      <div>
      <h3 class="center-in">Software Web Developer</h3>
      </div>
      <div class="center-in">

      <img src="../../assets/BeataSmile.png" class="rounded-circle center-in" height="138" width="120"/>
      </div >
      <!--<p>come from Poland</p>-->
      <!--<h3>Some Links</h3>-->
      <!--<p>Lorem ipsum dolor sit ame.</p>-->
      <div  class="center-in">
      <h2 class="center-in">Beata Gabrysiak</h2>
      </div>
      <hr class="d-md-none">
    </div>
    <div class="col-md-8">
      <h2 >TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>


      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>

